In [19]:
%load_ext autoreload
%autoreload 2
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize
import pandas as pd
import os
import sys
import numpy as np
sys.path.append("../../Code")
import utils
import files as f
import seaborn as sns
import matplotlib.pyplot as plt
import preprocessing as pre
import languages as lang
stopWords = set(stopwords.words('english'))
import profiles

In [152]:
vocab_reviews = pd.read_csv(os.path.join('..','2','len_lang_restrict_reviews.csv'), index_col=0)

In [159]:
vocab_guests.head(1)

,idGuest,id,name,city,ccode,membershipMonth,membershipYear,superhost,verified,description,linkedAccountVerified,schoolInfo,jobInfo,languages,reviewNumber,guideNumber,wishListNumber
2,3,147765739,Jie,China,CN,August,2017,false,true,"Hello. I am Emily, I am from China.","['Official Identity Document', 'selfies', 'Ema...",null,null,null,2.0,0.0,0.0

In [166]:
vocab_guests = pd.read_csv(os.path.join('..','2','len_lang_restrict_guests.csv'), dtype={'linkedAccountVerified':str, 'description':str}, low_memory=False, index_col=0)

In [164]:
vocab_guests

,idGuest,id,name,city,ccode,membershipMonth,membershipYear,superhost,verified,description,linkedAccountVerified,schoolInfo,jobInfo,languages,reviewNumber,guideNumber,wishListNumber
2,3,147765739,Jie,China,CN,August,2017,false,true,"Hello. I am Emily, I am from China.","['Official Identity Document', 'selfies', 'Ema...",null,null,null,2.0,0.0,0.0
12,13,37123184,Avner,"Tel Aviv-Yafo, Israel",IL,June,2015,false,true,(Website hidden by Airbnb),"['Official Identity Document', 'Email address'...","Blich,",Dyadic,"English,",11.0,0.0,2.0
17,18,2821166,Marijn,"Amsterdam, the Netherlands",NL,July,2012,false,false,"Independent, creative youthful woman, 41, work...","['Email address', 'Telephone number', 'Wish Li...",Universiteit,null,"English,",1.0,0.0,1.0
18,19,3865326,Alberto,"Milan, Italy",IT,October,2012,false,true,We are a couple. I'm Alberto and my partner is...,"['Official Identity Document', 'Email address'...",liceo,Software,"English,",5.0,0.0,1.0
19,20,4671803,Lillian,"Melbourne, Australia",AU,January,2013,false,true,TV media professional living and working in Me...,"['Official Identity Document', 'Email address'...",null,.,English,10.0,0.0,1.0
21,22,9017418,Astrid,"Oslo, Norway",NO,September,2013,false,false,"I'm 27 years old and live in Oslo, Norway. I'm...","['Email address', 'Telephone number']",null,null,"English,",17.0,0.0,0.0
23,24,13538457,Matthew,"New York, New York, United States",US,March,2014,false,true,NaN,"['Official Identity Document', 'Email address'...",null,null,null,3.0,0.0,0.0
24,25,16204527,Diego,"New York, New York, United States",US,May,2014,false,true,I am an Argentinean PhD Student at NYU. I have...,"['Official Identity Document', 'Email address'...",NYU,PhD,"English,",14.0,0.0,8.0
67,68,18176538,Quentin,"Chicago, Illinois, United States",US,July,2014,false,true,I am a business professional in Chicago. My ho...,"['Official Identity Document', 'Email address'...",Minooka,null,English,2.0,0.0,1.0
68,69,11228453,Bruno,"Milan, Italy",IT,January,2014,false,false,work addicted...need relax travelling around t...,"['Official Identity Document', 'Email address'...",Graduated,Sales,"English,",5.0,0.0,1.0
69,70,13287312,Michelle,"Banjup, Australia",AU,March,2014,false,true,NaN,"['Official Identity Document', 'Email address'...",Lakeland,CITIC,null,6.0,0.0,5.0
70,71,37737790,Alayna,"McKinney, Texas, United States",US,July,2015,false,true,I am a Summer Financial Analyst Intern working...,"['Official Identity Document', 'Email address'...",Adelphi,Citibank,null,1.0,0.0,1.0
72,73,46289618,Diego,"Buenos Aires, Argentina",AR,October,2015,false,true,NaN,"['Official Identity Document', 'Email address'...",Escuela,null,null,3.0,0.0,0.0
73,74,41101068,Elizabeth &amp; Jordan,"Kaneohe, Hawaii, United States",US,August,2015,false,true,NaN,"['Personal informations', 'Email address', 'Te...",Los,Freelance,null,5.0,0.0,2.0
74,75,30507300,Myriam,"Santiago, Chile",CL,April,2015,false,true,Soy amante de los viajes!!! Para mí son un reg...,"['Official Identity Document', 'Email address'...",Ingeniero,People&Search,"English,",8.0,0.0,2.0
75,76,31949047,Laura,"Sydney, New South Wales, Australia",AU,April,2015,false,true,I love travelling and experiencing new culture...,"['Official Identity Document', 'Email address'...",null,CBRE,English,7.0,0.0,3.0
76,77,447610,Jessica,"Paris, France",FR,March,2011,false,true,"British girl, living in Paris...","['Official Identity Document', 'Email address'...",null,null,null,10.0,0.0,9.0
77,78,65120498,Victoria,"Herrliberg, Switzerland",CH,March,2016,false,false,NaN,"['Email address', 'Telephone number']",null,null,null,2.0,0.0,0.0
78,79,2364736,Alana,"New York, New York, United States",US,May,2012,false,true,"From Boston, lived in LA 6 years, now living i...","['Personal informations', 'Email address', 'Te...",Belmont,Los,null,72.0,0.0,1.0
79,80,75770719,Roberto,"Messina, Italy",IT,June,2016,false,true,NaN,"['Official Identity Document', 'Email address'...",I.T.C.,null,null,2.0,0.0,1.0
80,81,3632167,Jason,"Makati City, Philippines",PH,September,2012,false,true,i am from manila and travels in business,"['Official Identity Document', 'Email address'...",Quezon,null,"English,",2.0,0.0,0.0
82,83,91823208,Manas,"Sarasota, Florida, United States",US,August,2016,false,true,NaN,"['Official Identity Document', 'Email address'...",IMG,null,null,10.0,0.0,3.0
83,84,9819869,Scott,"Sydney, New South Wales, Australia",AU,November,2013,false,false,NaN,"['Email address', 'Telephone number', 'Wish Li...",null,null,null,0.0,0.0,1.0
85,86,2480481,Raul,"New York, New York, United States",US,May,2012,false,true,I'm a Master´s student in Energy Management at...,"['Official Identity Document', 'Email address'...","NIYT,",Graduate,"English,",1.0,0.0,0.0
86,87,5474893,Mike,"La Clusaz, France",FR,March,2013,false,true,"Travel, wine & food lover.","['Official Identity Document', 'Email address'...",null,null,null,8.0,0.0,0.0
87,88,17307170,Vilma,"Panama, Panama",PA,June,2014,true,true,NaN,"['Official Identity Document', 'selfies', 'Ema...",Instituto,null,English,56.0,0.0,1.0
88,89,43650774,Silke,Germany,DE,September,2015,false,true,NaN,"['Official Identity Document', 'Email address'...",null,null,null,4.0,0.0,1.0
89,90,1388441,Christian,"Syracuse, New York, United States",US,November,2011,false,false,I am from Germany. I am doing my Bachelor in U...,['Email address'],Privat,null,null,1.0,0.0,0.0
90,91,637227,Fer,"Buenos Aires, Argentina",AR,May,2011,false,false,"Works in Marketing for a global airline, loves...","['Email address', 'Telephone number', 'Faceboo...",UBA,United,null,4.0,0.0,1.0
91,92,1302156,Elizabeth,"Providence, Rhode Island, United States",US,October,2011,false,true,.,"['Official Identity Document', 'Email address'...",null,null,null,18.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236873,236874,9051557,Carol,"Washington, District of Columbia, United States",US,September,2013,false,true,I am married and my husband will be with me on...,"['Personal informations', 'Email address', 'Te...",null,null,null,3.0,0.0,2.0
236874,236875,849027,Pallavi,"Mumbai, India",IN,July,2011,false,true,"I am an attorney, having lived in NYC for 6 ye...","['Official Identity Document', 'Email address'...",New,null,"English,",161.0,0.0,0.0
236879,236880,8818103,Kelley,"Jupiter, Florida, United States",US,September,2013,false,true,I am a business woman and athlete. I travel mo...,"['Personal informations', 'Email address', 'Te...",null,KRP,English,11.0,0.0,6.0
236883,236884,140812104,Glenn Scott,"England, United Kingdom",GB,July,2017,false,false,I’m a responsible professional working in the ...,"['Official Identity Document', 'Email address'...",null,null,null,5.0,0.0,0.0
236884,236885,15582129,Sally,"San Rafael, California, United States",US,May,2014,false,true,"Full time wife and mom of tweens, part time bu...","['Official Identity Document', 'Email address'...",UC,Business,"English,",4.0,0.0,4.0
236886,236887,35587940,Raj,"London, United Kingdom",GB,June,2015,false,false,NaN,"['Email address', 'Telephone number', 'Busines...",St,null,null,3.0,0.0,0.0
236887,236888,20115057,Charlotte,"Sunnyvale, California, United States",US,August,2014,false,true,NaN,"['Personal informations', 'Email address', 'Te...","Fairview,",null,null,13.0,0.0,0.0
236888,236889,1410506,Robin,"Staunton, Virginia, United States",US,November,2011,false,true,"I enjoy travel, music and beautiful places.","['Personal informations', 'Email address', 'Te...",null,null,null,3.0,0.0,2.0
236889,236890,32767973,My-Linh,"San Jose, California, United States",US,May,2015,false,true,"Aiming to be a great guest to great hosts. ""We...","['Official Identity Document', 'Email address'...",null,Personal,null,4.0,0.0,1.0
236890,236891,186682,Yuri,"England, United Kingdom",GB,July,2010,false,true,"Honest open minded easy going guy, who loves t...","['Official Identity Document', 'Email address'...",null,null,null,3.0,0.0,2.0
236891,236892,23257637,Praveen,"Seattle, Washington, United States",US,November,2014,false,true,"Originally from India, I work in the tech indu...","['Official Identity Document', 'Email address'...",Shree,null,"Bengali,",59.0,0.0,0.0
236892,236893,64318318,Carla Z,"Lima, Peru",PE,March,2016,false,true,NaN,"['Official Identity Document', 'Email address'...",Pontifical,null,null,5.0,0.0,2.0
236893,236894,8342017,Jessie,"Oxford, United Kingdom",GB,August,2013,false,true,Undergraduate student at Cambridge University ...,"['Official Identity Document', 'Email address'...",null,null,null,5.0,0.0,0.0
236895,236896,52074134,Alessia,Naples Italy,IT,December,2015,true,true,"I'm Alessia, i'm interesting in everything, bu...","['Official Identity Document', 'Email address'...",Liceo,null,"English,",1081.0,0.0,0.0
236896,236897,16479977,Mac,"Windermere, Florida, United States",US,June,2014,true,true,Married to my beautiful bride since 2011! We l...,"['Official Identity Document', 'Personal infor...",Anderson,Generous,English,197.0,0.0,0.0
236897,236898,104560710,Asia,"Miami, Florida, United States",US,November,2016,false,false,"Blogger, FIU student, traveler","['Personal informations', 'Email address', 'Te...",Florida,null,null,2.0,0.0,0.0
236898,236899,96939084,Ulysses,"West Point, New York, United States",US,September,2016,false,true,NaN,"['Official Identity Document', 'selfies', 'Ema...",null,null,null,9.0,0.0,0.0
236899,236900,23441694,Shazwan,"Kuala Lumpur, Malaysia",MY,November,2014,false,true,Love to travel all around the world.,"['Official Identity Document', 'Email address'...",null,null,null,12.0,0.0,9.0
236900,236901,8857912,Jené,"Nashville, Tennessee, United States",US,September,2013,false,true,Hi! My name is Jené and I am originally from P...,"['Personal informations', 'Email address', 'Te...",null,null,"English,",8.0,0.0,1.0
236901,236902,14019818,Rebeca,"Laredo, Texas, United States",US,April,2014,false,true,NaN,"['Official Identity Document', 'Email address'...",null,null,null,4.0,0.0,1.0
236902,236903,54136166,Shinah,"San Diego, California, United States",US,January,2016,false,true,NaN,"['Official Identity Document', 'Email address'...",University,null,null,6.0,0.0,1.0
236905,236906,113406888,Anna,"Salt Lake City, Utah, United States",US,January,2017,false,true,NaN,"['Official Identity Document', 'Email address'...",West,null,null,3.0,0.0,0.0
236907,236908,4604846,Sasha,Mosk Russia,RU,January,2013,false,true,"я из москвы, мне 25, работаю в крупной итальян...","['Official Identity Document', 'selfies', 'Ema...","BHSAD,",null,null,4.0,0.0,5.0
236909,236910,109055838,Mayra,"Los Angeles, California, United States",US,December,2016,false,true,NaN,"['Official Identity Document', 'selfies', 'Ema...",Colegio,null,null,3.0,0.0,1.0
236910,236911,29983741,Hannah,"Bremen, Germany",DE,March,2015,false,true,"Hallo, ich bin Hannah. Ich bin lebensfroh und ...","['Official Identity Document', 'selfies', 'Ema...",null,null,"Deutsch,",1.0,0.0,4.0
236913,236914,71424420,Michael Damian,"Nuremberg, Germany",DE,May,2016,false,true,NaN,"['Official Identity Document', 'Email address'...",Schweinauer,null,null,1.0,0.0,0.0
236916,236917,95014492,Andrea,"Chicago, Illinois, United States",US,September,2016,false,true,When Traveling I have AirBbnb to be best for m...,"['Official Identity Document', 'Email address'...",Regina,null,null,5.0,0.0,0.0
236926,236927,820508,Christina,"Los Angeles, California, United States",US,July,2011,false,true,I am a citizen of the world! I hope you are to...,"['Personal informations', 'Email address', 'Te...",null,null,null,436.0,0.0,8.0
236936,236937,33617926,J,"Covina, California, United States",US,May,2015,false,true,Trying to enjoy life as much as I can and live...,"['Official Identity Document', 'selfies', 'Ema...",null,null,null,16.0,0.0,8.0
236939,236940,45771238,Rafael,"Ciudad López Mateos, Mexico",MX,October,2015,false,true,I love to travel and meet new people that way ...,"['Official Identity Document', 'Personal infor...",null,null,null,2.0,0.0,0.0

In [156]:
vocab_hosts = pd.read_csv(os.path.join('..','2','len_lang_restrict_hosts.csv'), index_col=0)
vocab_guests['id'] = vocab_guests['id'].astype(str)

In [145]:
len(vocab_reviews)

225090

In [143]:
guests = pd.read_csv(os.path.join('..','2','nr_restrict_guests.csv'), index_col=0)
hosts = pd.read_csv(os.path.join('..','2','nr_restrict_hosts.csv'), index_col=0)
reviews = pd.read_csv(os.path.join('..','2','nr_restrict_reviews.csv'), index_col=0)

/Users/lynraybarends/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [144]:
len(reviews)

215960

In [131]:
hosts = hosts[~hosts.index.isnull()]

In [132]:
reviews_text = reviews[(reviews.recipient_id.isin(hosts.id.astype(int).unique())) & (reviews.reviewer_id.isin(guests.id.astype(int).unique()))]

In [133]:
len(reviews_text)

98585

In [134]:
len(reviews_text.recipient_id.unique())

5069

In [135]:
len(reviews_text.reviewer_id.unique())

89915

In [52]:
hosts_indicio = pd.read_csv('../3/hosts_with_people.csv', index_col=0)
guests_indicio = pd.read_csv('../3/final_guest_indicoio.csv', index_col=0)

In [61]:
one_person_host = hosts_indicio[hosts_indicio['num_of_people_in_pic'] == 1]
one_person_guest = guests_indicio[guests_indicio['num_of_people'] == 1]

In [138]:
len(one_person_host)

6473

In [146]:
reviews_ind = reviews[(reviews.recipient_id.isin(one_person_host.id.astype(int).unique())) & (reviews.reviewer_id.isin(one_person_guest.id.astype(int).unique()))]

In [148]:
len(reviews_ind)

53049

In [149]:
len(reviews_ind.recipient_id.unique())

3490

In [150]:
len(reviews_ind.reviewer_id.unique())

50847

In [72]:
hosts_cog = pd.read_csv('../3/final_cog_hosts.csv', index_col=0)
guests_cog = pd.read_csv('../3/final_cog_guests.csv', index_col=0)

In [107]:
demo_host = demo_host.drop('Unnamed: 1', axis = 1)

In [108]:
demo_host = hosts_cog[~hosts_cog.age.isnull()].drop_duplicates()

In [109]:
len(demo_host)

2891

In [94]:
demo_guest = guests_cog[~guests_cog.age.isnull()].drop_duplicates()

In [110]:
len(demo_guest)

37506

In [151]:
len(guests_cog)

53396

In [113]:
reviews_demo = reviews_text[(reviews_text.recipient_id.isin(demo_host.name.astype(int).unique())) & (reviews_text.reviewer_id.isin(demo_guest.name.astype(int).unique()))]

In [114]:
len(reviews_demo)

15203

In [116]:
trans_guest = pd.read_csv('../8/translated_guest_profiles.csv', index_col=0)
trans_host = pd.read_csv('../8/translated_host_profiles.csv', index_col=0)

In [121]:
reviews_trans = reviews_demo[(reviews_demo.recipient_id.isin(trans_host.id.astype(int).unique())) & (reviews_demo.reviewer_id.isin(trans_guest.id.astype(int).unique()))]

In [117]:
len(trans_guest)

49452

In [122]:
len(reviews_demo)

7387

In [126]:
len(reviews_demo['recipient_id'].unique())

1014

In [ ]:
### Tester